:root {
    --text: #000;
    --bg: #fff;
    --background: #0e1217;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --bg: #000;
    }
}

@font-face {
    font-family: Bella-Bold;
    src: url("assert/font/Bella Bold.ttf");
}


body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
    box-sizing: 0;
}





header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
    user-select: none;
}



.header-menu div {
    margin: 0 1rem;
    padding: 0 2rem;
    margin-bottom: 0px;
    text-shadow: rgba(0, 242, 36, 1) 0px 0px 163px;
    font-family: roboto;
    font-size: 30px;
}
.header-menu .org-icon {
    font-size: 55px;
    font-family: Bella-Bold;
    color: aqua;
}
.header-menu .suffix-icon{
    font-size: 35px;
}

.menu {
    display: flex;
}
.menu div:hover {
    color: aqua;
}

.screen {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.screen section {
    height: 100vh;
    scroll-snap-align: center;
}

.screen_intro {
    background-image: url("assert/image/screen_1_bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.screen_intro .left_view {
    padding-left: 100px;
    flex: 1 0 40%;
    height: 500;
    font-family: Bella-Bold;
    font-size: 30px;
}

.screen_intro .left_view p {
    font-family: Fira Sans;
    font-size: 22px;
    background-image: radial-gradient(circle closest-corner at 50% 240%, #00f539, rgba(255, 255, 255, 0));

}

.screen_intro .right_view {
    flex: 1 0 60%;
    height: 100px;
    filter: drop-shadow(rgba(0, 255, 255, 0.42));
}
















/* screen 2 */
.screen_blog {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.screen_blog .right_view {
    flex: 1;
    width: 50%
}

.screen_blog .left_view {
    flex: 1;
    width: 50%;
    padding-left: 100px;
}

.screen_blog .right_view img {
    height: 400px;
}

.screen_footer {}